body{
  font-style: serif;
}
#title{
  background-color:#ff3333;
  margin: 3px;
  border-radius: 5px;
}
.row-img{
  padding-bottom: 20%;
}
.button-div{
  position:relative;
  left:10%;
}
.download-button{
  margin:5px 5px 5px 5px;
}
h1{
  padding: 20;
  color:#fff;
  font-family: sans-serif;
  font-size: 2rem;
  line-height: 1;
  margin:50px;
}

.navbar-brand{
  font-size:50px;
}
.nav-link{
  font-family: "Montserrat",sans-serif;
}

.img-iphone{
  width:23%;
  position: relative;
  left: 60%;
  position: absolute;
  top:32%;
  padding:20px 100px 20px 0px;
  transform: rotate(15deg);
  position:absolute;
  z-index=-1;

}
#features{
  padding:5% 5%;
 background-color: blue;
 color:#fff;
 position:relative;
 z-index: 1;
 margin: 3px;
 border-radius: 5px;
}
.feature-box{
  text-align: center;
  padding:5% 5% 5% 5%;

}
.class{
  color:#fff;
  padding-bottom: 20px;
}
.class:hover{
  color: green;
}
#testimonials{
  margin-left: 3px;
  margin-right: 3px;
 padding:7% 15%;
 text-align: center;
 background-color: #3333ff;
 color:#fff;
 position: relative;
 z-index: 1;
 border-radius: 5px;
}
.testimonial-image{
  width: 20%;
  border-radius: 100%;
}
#press{
  background-color:#3333ff;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;

}
#pricing{
  background-color:#3333ff;
  padding:5% 0%;
  text-align: center;
  margin: 3px;
}
.pricing-fff{
  color:#fff;
}
.pricing-column{
  padding-top: 3%  0%;
}
#cta{
  background-color: #5c00e6;
  padding-bottom: 50px;
  text-align: center;
  color:#fff;
  margin: 3px;
  border-radius: 3px;
}
.action-h3{
  padding: 3%;
  line-height:1;
}
  .cta-btn{

    margin:20px 20px;
  }

#footer{
  background-color: #333333;
  color:#fff;
  text-align:center;
  padding:30px;
}
